# Carga de información a la base de datos BBDD_Hoteles

En este documento realizamos la carga de los datos limpiados a la base de sql.

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np
import psycopg2 as ps

In [2]:
# Importamos el csv con la información de las reservas, los hoteles y los clientes
data = pd.read_csv("../data/reservas_hoteles_limpio.csv", parse_dates=['fecha_reserva', 'inicio_estancia', 'final_estancia'], dtype={'id_cliente': str, 'id_hotel': str})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  object
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  datetime64[ns]
 7   inicio_estancia  15000 non-null  datetime64[ns]
 8   final_estancia   15000 non-null  datetime64[ns]
 9   id_hotel         15000 non-null  object
 10  nombre_hotel     15000 non-null  object
 11  ciudad           15000 non-null  object
 12  precio_noche     15000 non-null  float64
 13  estrellas        15000 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(2), object(8)
memory usage: 1.5+ MB

In [3]:
data[["id_hotel", "nombre_hotel"]]

      id_hotel                          nombre_hotel
0            1                     Hotel Monte Verde
1            2                  Hotel Brisas del Mar
2            3                  Hotel Camino del Sol
3            4                Hotel Puerta del Cielo
4            5                    Hotel Encanto Real
...        ...                                   ...
14995       28                ibis Madrid Alcobendas
14996       26        ibis Madrid Alcorcon Tresaguas
14997       27         ibis budget Madrid Aeropuerto
14998       23  ibis budget Madrid Centro las Ventas
14999       21           ibis budget Madrid Calle 30

[15000 rows x 2 columns]

In [4]:
data["precio_noche"]

0        276.612381
1        275.225921
2        269.998444
3        280.151243
4        278.243996
            ...
14995     85.000000
14996     90.000000
14997     88.000000
14998    119.000000
14999    110.000000
Name: precio_noche, Length: 15000, dtype: float64

In [4]:
# Importamos el csv con los eventos de Madrid sacados de la API
eventos = pd.read_csv("../data/eventos_madrid.csv", parse_dates=['fecha_inicio', 'fecha_fin'])
eventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_evento  217 non-null    object
 1   url_evento     217 non-null    object
 2   codigo_postal  217 non-null    int64
 3   direccion      201 non-null    object
 4   horario        134 non-null    object
 5   organizacion   202 non-null    object
 6   fecha_inicio   217 non-null    datetime64[ns]
 7   fecha_fin      217 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 13.7+ KB

In [8]:
eventos[eventos["codigo_postal"] == 0]

,nombre_evento,url_evento,codigo_postal,direccion,horario,organizacion,fecha_inicio,fecha_fin
3,Acompañamiento digital a personas mayores,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2024-10-14,2025-06-30
7,Actividades mensuales de los centros de mayore...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2024-02-01,2025-07-13
10,Apoyo a la autonomía,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2024-09-13,2025-06-20
12,ArTrics - Laboratorio de Creación 2024/25,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2024-10-01,2025-07-31
23,Caperucita camina sola,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2025-02-20,2025-03-09
26,Ciclismo por Madrid,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,00:00,NaN,2024-09-01,2025-06-30
51,Correr por Madrid,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,00:00,NaN,2024-09-01,2025-06-30
54,Días no lectivos 28 de febrero y 3 marzo. Camp...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2025-02-28,2025-03-03
55,Días sin cole 28 de febrero y 3 de marzo 2025....,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2025-02-28,2025-03-03
102,Laboratorios ciudadanos: Rescatando la memoria...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,10:00,Centro de Información y Educación Ambiental de...,2025-02-01,2025-03-30
117,Ludotecas en Centro Sociocultural Latina,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2024-10-05,2025-06-28
122,Masterclass de Dirección de Fotografía en Rodaje,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,16:00,NaN,2025-02-11,2025-03-07
124,Meditación Vipassana,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,09:45,NaN,2024-09-18,2025-06-18
137,Puntos de intercambio gratuitos de libros en l...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2023-04-10,2029-06-30
146,Rutas Medioambientales Invierno 2025 - Distrit...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,NaN,NaN,2025-01-19,2025-03-16
173,Taller Formativo de Producción Musical,http://www.madrid.es/sites/v/index.jsp?vgnextc...,0,NaN,16:30,NaN,2025-02-10,2025-04-07

## Inicialización de la conexión con la BBDD y el cursor

In [11]:
# Creamos la conexión a la base de datos
# Vamos a crear una conexión a la base de datos.
conn = ps.connect(
    dbname = "BBDD_Hoteles", # base a la que nos queremos conectar
    user = "postgres",
    password = "admin",
    host = "localhost",
    port = "5432" # puerto en el que s eencuentra postgres
)

In [12]:
# Creamos un cursor el cual nos va a permitir ejecutar querys.
cur = conn.cursor()

In [13]:
# COmprobamos que la conexión está creada y conectada
cur.execute("SELECT version();")
cur.fetchone()

('PostgreSQL 16.4, compiled by Visual C++ build 1940, 64-bit',)

## Inserción de datos

In [9]:
# COmprobamos que no haya valores duplicados en ambos dataframes
# data = data.drop_duplicates()
data.duplicated().sum()

np.int64(0)

### Tabla ciudad

In [10]:
data_insert_ciudad = ["Madrid"]

In [11]:
# Creamos la query de inserción de los datos de ciudad
insert_query_ciudad = """ 
                        INSERT INTO ciudad (nombre_ciudad)
                        VALUES (%s) 
"""

In [12]:
conn.rollback()

In [13]:
# Ejecutamos la query y le indicamos que solo tenemos una ciudad que es Madrid
cur.execute(insert_query_ciudad, data_insert_ciudad)
conn.commit()

In [14]:
# vamos a comprobar que se ha creado correctamente
query_ciudad = """
    SELECT * 
    FROM ciudad; 
"""
cur.execute(query_ciudad)
cur.fetchall()

[(1, 'Madrid')]

# NO VOLVER A EJECUTAR LA QUERY DE CIUDAD, ESTA YA INSERTADA

### Tabla eventos

In [14]:
# Sacamos el id de ciudad de la tabla de ciudad
cur.execute("SELECT nombre_ciudad, id_ciudad FROM ciudad")
dictio_ciudad = dict(cur.fetchall())
dictio_ciudad

{'Madrid': 1}

In [15]:
# Creamos la lista que va a contener toda la información 
data_insert_eventos = []

# Vamos iterando por cada columna del dataframe y cada fila de cada columna, obteniendo los elementos de las filas (row)
for i, row in eventos.iterrows():
    nombre_evento = row["nombre_evento"]
    url_evento = row["url_evento"]
    codigo_postal = row["codigo_postal"] if row["codigo_postal"] != 0 else None
    direccion = row["direccion"] if pd.notna(row["direccion"]) else None # tenemos valores nulos en esta columna, de manera que le indicamos, que si el elemento no es nulo nos lo coja, y si es nulo, nos incluya un None, ya que sql no acepta valores nulos que no sean None
    horario = row["horario"] if pd.notna(row["horario"]) else None
    fecha_inicio = row["fecha_inicio"]
    fecha_fin = row["fecha_fin"]
    organizacion = row["organizacion"] if pd.notna(row["organizacion"]) else None
    id_ciudad = dictio_ciudad.get("Madrid")

    # incluimos los valores en la lista
    data_insert_eventos.append((nombre_evento, url_evento, codigo_postal, direccion, horario, fecha_inicio, fecha_fin, organizacion, id_ciudad))

In [17]:
data_insert_eventos

[('25º aniversario de la revista La Fragua',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1ea220bed10d4910VgnVCM2000001f4a900aRCRD',
  28005,
  'CALLE SAN JUSTO 5',
  None,
  Timestamp('2025-02-24 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  'Biblioteca Pública Municipal Iván de Vargas (Centro)',
  1),
 ('60 Premio Reina Sofía de Pintura y Escultura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=34c5130393e15910VgnVCM2000001f4a900aRCRD',
  28009,
  'PASEO COLOMBIA 1',
  None,
  Timestamp('2025-02-27 00:00:00'),
  Timestamp('2025-03-23 00:00:00'),
  'Centro Cultural Casa de Vacas (Retiro)',
  1),
 ('A toda vela',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=59d5e7da8b822910VgnVCM1000001d4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  None,
  Timestamp('2024-10-01 00:00:00'),
  Timestamp('2025-06-01 00:00:00'),
  'Matadero Madrid',
  1),
 ('Acompañamiento digital a personas mayores',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=5b58d89ad2232910VgnVCM2000001f4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2024-10-14 00:00:00'),
  Timestamp('2025-06-30 00:00:00'),
  None,
  1),
 ('Acompañar en la pérdida',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=197023e4c84d3910VgnVCM2000001f4a900aRCRD',
  28029,
  'AVENIDA MONFORTE DE LEMOS 38',
  '17:00',
  Timestamp('2025-01-14 00:00:00'),
  Timestamp('2025-06-17 00:00:00'),
  'Biblioteca Pública Municipal José Saramago (Fuencarral-El Pardo)',
  1),
 ('Activas en compañía: gimnasia de mantenimiento',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=f93102b68bf54910VgnVCM2000001f4a900aRCRD',
  28022,
  'PLAZA EURIPIDES 1',
  '12:00',
  Timestamp('2025-01-13 00:00:00'),
  Timestamp('2025-03-31 00:00:00'),
  'Espacio de Igualdad Lucía Sánchez Saornil. San Blas-Canillejas',
  1),
 ('Actividades del Centro Cultural Casa del Reloj',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1df19c4490405910VgnVCM1000001d4a900aRCRD',
  28045,
  'PASEO CHOPERA 6',
  None,
  Timestamp('2025-02-19 00:00:00'),
  Timestamp('2025-03-13 00:00:00'),
  'Centro Cultural Casa del Reloj (Arganzuela)',
  1),
 ('Actividades mensuales de los centros de mayores del distrito Hortaleza',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=315479485bdeb810VgnVCM1000001d4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2024-02-01 00:00:00'),
  Timestamp('2025-07-13 00:00:00'),
  None,
  1),
 ('Amantes de las series',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=fab111c60bad4910VgnVCM2000001f4a900aRCRD',
  28045,
  'PASEO CHOPERA 10',
  '17:30',
  Timestamp('2025-02-19 00:00:00'),
  Timestamp('2025-03-12 00:00:00'),
  'Espacio de Igualdad Juana Doña. Arganzuela',
  1),
 ('Andrea Canepa «Wasi qaymi (Lugar y tacto)»',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=45f102a2fa0e1910VgnVCM1000001d4a900aRCRD',
  28015,
  'CALLE CONDE DUQUE 9',
  None,
  Timestamp('2025-02-28 00:00:00'),
  Timestamp('2025-05-18 00:00:00'),
  'Centro de Cultura Contemporánea Conde Duque',
  1),
 ('Apoyo a la autonomía',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1e67f7a45c701910VgnVCM1000001d4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2024-09-13 00:00:00'),
  Timestamp('2025-06-20 00:00:00'),
  None,
  1),
 ('Artificios teatrales. La escena musical de los felices veinte',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=6ed5f65f96c83910VgnVCM1000001d4a900aRCRD',
  28015,
  'CALLE AMANIEL 29',
  None,
  Timestamp('2024-10-16 00:00:00'),
  Timestamp('2025-03-08 00:00:00'),
  'Centro Cultural Clara del Rey - Museo ABC (Centro)',
  1),
 ('ArTrics - Laboratorio de Creación 2024/25',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=7ae9c00a26e12910VgnVCM1000001d4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2024-10-01 00:00:00'),
  Timestamp('2025-07-31 00:00:00'),
  None,
  1),
 ('Asombro',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=85b965d37f624910VgnVCM1000001d4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  None,
  Timestamp('2025-01-18 00:00:00'),
  Timestamp('2025-03-23 00:00:00'),
  'Matadero Madrid',
  1),
 ('Baile de Mayores en Centro Cultural Almirante Churruca',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=beaf2f9cb66d1610VgnVCM2000001f4a900aRCRD',
  28024,
  'CALLE FUENTE DEL TIRO 72',
  '16:30',
  Timestamp('2024-10-04 00:00:00'),
  Timestamp('2025-06-27 00:00:00'),
  'Centro Sociocultural Almirante Churruca (Latina)',
  1),
 ('Baile de Mayores en Centro Sociocultural El Greco',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=77922f9cb66d1610VgnVCM2000001f4a900aRCRD',
  28011,
  'CALLE EL GRECO 29',
  '18:00',
  Timestamp('2024-10-03 00:00:00'),
  Timestamp('2025-06-26 00:00:00'),
  'Centro Sociocultural El Greco (Latina)',
  1),
 ('Beethoven. Del corazón al corazón',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=3cd9168eeb173910VgnVCM1000001d4a900aRCRD',
  28014,
  'CALLE ALAMEDA 15',
  None,
  Timestamp('2024-12-03 00:00:00'),
  Timestamp('2025-03-30 00:00:00'),
  'Espacio Cultural Serrería Belga',
  1),
 ('Biblioajedrez',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=37340defdf5e1910VgnVCM2000001f4a900aRCRD',
  28024,
  'CALLE GRANJA DE TORREHERMOSA 1',
  '18:00',
  Timestamp('2024-09-30 00:00:00'),
  Timestamp('2025-05-26 00:00:00'),
  'Biblioteca Pública Municipal Ángel González (Latina)',
  1),
 ('Bodegones y Madrid',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=a903ec7bdcf54910VgnVCM1000001d4a900aRCRD',
  28022,
  'CALLE FEBRERO 4',
  None,
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-31 00:00:00'),
  'Centro Cultural José Luis López Vázquez (San Blas - Canillejas)',
  1),
 ('Caminamos juntas',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=a54e02b68bf54910VgnVCM2000001f4a900aRCRD',
  28022,
  'PLAZA EURIPIDES 1',
  '10:30',
  Timestamp('2025-01-07 00:00:00'),
  Timestamp('2025-03-25 00:00:00'),
  'Espacio de Igualdad Lucía Sánchez Saornil. San Blas-Canillejas',
  1),
 ('Camino hacia la autonomía financiera',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=8b24e4778bbc4910VgnVCM2000001f4a900aRCRD',
  28045,
  'PASEO CHOPERA 10',
  '10:30',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-05 00:00:00'),
  'Espacio de Igualdad Juana Doña. Arganzuela',
  1),
 ('Campamento de carnaval y fiestas del mundo',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=c61c239147bd4910VgnVCM2000001f4a900aRCRD',
  28028,
  'CALLE BOSTON 3',
  None,
  Timestamp('2025-02-28 00:00:00'),
  Timestamp('2025-03-03 00:00:00'),
  'Colegio Público Guindalera',
  1),
 ('Campamentos urbanos Días sin cole. Distrito San Blas - Canillejas',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=7859110d84384910VgnVCM2000001f4a900aRCRD',
  28022,
  'AVENIDA CANILLEJAS A VICALVARO 56',
  None,
  Timestamp('2025-02-28 00:00:00'),
  Timestamp('2025-03-03 00:00:00'),
  'Colegio Público Alberto Alcocer',
  1),
 ('Caperucita camina sola',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1166d242f8884910VgnVCM2000001f4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2025-02-20 00:00:00'),
  Timestamp('2025-03-09 00:00:00'),
  None,
  1),
 ('Centro de Interpretación del Paisaje de la Luz',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=842dc5eb8e915810VgnVCM1000001d4a900aRCRD',
  28014,
  'PLAZA CIBELES 1',
  None,
  Timestamp('2022-12-14 00:00:00'),
  Timestamp('2026-01-14 00:00:00'),
  'CentroCentro',
  1),
 ('Chatines. Club de lectura infantil',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=146e23279fad4910VgnVCM1000001d4a900aRCRD',
  28036,
  'CALLE MANUEL FERRERO 1',
  '17:30',
  Timestamp('2025-02-27 00:00:00'),
  Timestamp('2025-06-19 00:00:00'),
  'Biblioteca Pública Municipal Dámaso Alonso (Chamartín)',
  1),
 ('Ciclismo por Madrid',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=db40e3f0c91ea710VgnVCM2000001f4a900aRCRD',
  None,
  None,
  '00:00',
  Timestamp('2024-09-01 00:00:00'),
  Timestamp('2025-06-30 00:00:00'),
  None,
  1),
 ('Cine familiar',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=d4fd2e979f0a0910VgnVCM2000001f4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  None,
  Timestamp('2024-09-15 00:00:00'),
  Timestamp('2025-06-29 00:00:00'),
  'Cineteca Madrid',
  1),
 ('Círculo de ciudadanos',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=ba197bfae6da4910VgnVCM2000001f4a900aRCRD',
  28029,
  'AVENIDA MONFORTE DE LEMOS 38',
  '17:00',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-12-16 00:00:00'),
  'Biblioteca Pública Municipal José Saramago (Fuencarral-El Pardo)',
  1),
 ('Club de lectura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=4b66106762794910VgnVCM1000001d4a900aRCRD',
  28037,
  'CALLE SAN ROMAN DEL VALLE 8',
  '11:00',
  Timestamp('2024-09-25 00:00:00'),
  Timestamp('2025-06-04 00:00:00'),
  'Biblioteca Pública Municipal San Blas (San Blas-Canillejas)',
  1),
 ('Club de lectura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=e1b3ae3a19a23910VgnVCM1000001d4a900aRCRD',
  28025,
  'CALLE GENERAL RICARDOS 252',
  '12:00',
  Timestamp('2024-11-04 00:00:00'),
  Timestamp('2025-06-16 00:00:00'),
  'Biblioteca Pública Municipal La Chata (Carabanchel)',
  1),
 ('Club de lectura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=a0fd177728c21910VgnVCM2000001f4a900aRCRD',
  28053,
  'CALLE PUERTO DEL MONASTERIO 1',
  '10:00',
  Timestamp('2024-09-27 00:00:00'),
  Timestamp('2025-06-13 00:00:00'),
  'Biblioteca Pública Municipal Vallecas (Puente de Vallecas)',
  1),
 ('Club de lectura de novela gráfica. Premios Nacionales de cómic',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=f5210dae9a6da810VgnVCM2000001f4a900aRCRD',
  28039,
  'CALLE FRANCOS RODRIGUEZ 67',
  '14:45',
  Timestamp('2024-09-24 00:00:00'),
  Timestamp('2025-05-27 00:00:00'),
  'Biblioteca Pública Municipal Manuel Vázquez Montalbán (Tetuán)',
  1),
 ('Club de lectura en BPM María Zambrano',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=f6dc84c649ef4910VgnVCM2000001f4a900aRCRD',
  28029,
  'PLAZA DONOSO 5',
  '11:00',
  Timestamp('2025-02-19 00:00:00'),
  Timestamp('2025-06-25 00:00:00'),
  'Biblioteca Pública Municipal María Zambrano (Tetuán)',
  1),
 ("Club de lectura en inglés 'Reading Club'",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=dc99b2481b1e1910VgnVCM2000001f4a900aRCRD',
  28002,
  'CALLE MANTUANO 51',
  '19:00',
  Timestamp('2024-10-08 00:00:00'),
  Timestamp('2025-04-29 00:00:00'),
  'Biblioteca Pública Municipal Francisco Ibáñez (Chamartín)',
  1),
 ("Club de lectura en inglés 'Reading Club'",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=64c2b01c7d402910VgnVCM1000001d4a900aRCRD',
  28005,
  'CALLE SAN JUSTO 5',
  '19:00',
  Timestamp('2024-10-08 00:00:00'),
  Timestamp('2025-04-29 00:00:00'),
  'Biblioteca Pública Municipal Iván de Vargas (Centro)',
  1),
 ("Club de lectura en inglés 'Reading Club'",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=4e37c32aae520910VgnVCM2000001f4a900aRCRD',
  28004,
  'CALLE BARCELO 4',
  '19:00',
  Timestamp('2024-10-07 00:00:00'),
  Timestamp('2025-04-28 00:00:00'),
  'Biblioteca Pública Municipal Mario Vargas Llosa (Centro)',
  1),
 ("Club de lectura en inglés 'Reading Club'",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=663cb2481b1e1910VgnVCM2000001f4a900aRCRD',
  28022,
  'CALLE MARIA SEVILLA DIAGO 15',
  '19:00',
  Timestamp('2024-10-08 00:00:00'),
  Timestamp('2025-04-29 00:00:00'),
  'Biblioteca Pública Municipal José Hierro (San Blas-Canillejas)',
  1),
 ('Club de lectura Naomi Klein',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=342b3a03802e2910VgnVCM1000001d4a900aRCRD',
  28005,
  'CALLE SAN JUSTO 5',
  '19:00',
  Timestamp('2025-01-29 00:00:00'),
  Timestamp('2025-05-28 00:00:00'),
  'Biblioteca Pública Municipal Iván de Vargas (Centro)',
  1),
 ("Club de lectura 'Amigas de las letras'. Espacio de Igualdad Carme Chacón",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=9da8470052eb2910VgnVCM2000001f4a900aRCRD',
  28043,
  'CALLE MATAPOZUELOS 2',
  '17:00',
  Timestamp('2025-01-09 00:00:00'),
  Timestamp('2025-03-27 00:00:00'),
  'Espacio de Igualdad Carme Chacón. Hortaleza',
  1),
 ("Club de lectura 'Veinte deseos'",
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=b75aa37147a02910VgnVCM2000001f4a900aRCRD',
  28022,
  'CALLE MARIA SEVILLA DIAGO 15',
  '19:00',
  Timestamp('2024-10-02 00:00:00'),
  Timestamp('2025-06-25 00:00:00'),
  'Biblioteca Pública Municipal José Hierro (San Blas-Canillejas)',
  1),
 ('Club de lectura (infantil)',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=0c4bf9ea99e61910VgnVCM2000001f4a900aRCRD',
  28028,
  'AVENIDA TOREROS 5',
  '18:00',
  Timestamp('2024-09-30 00:00:00'),
  Timestamp('2025-06-09 00:00:00'),
  'Biblioteca Pública Municipal David Gistau (Salamanca)',
  1),
 ('Club de lectura (infantil)',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=03cbf9ea99e61910VgnVCM2000001f4a900aRCRD',
  28050,
  'CALLE PRINCESA DE EBOLI 29',
  '18:00',
  Timestamp('2024-10-24 00:00:00'),
  Timestamp('2025-06-19 00:00:00'),
  'Biblioteca Pública Municipal María Lejárraga (Hortaleza)',
  1),
 ('Club de lectura (infantil)',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=6304ee4e073b2910VgnVCM1000001d4a900aRCRD',
  28041,
  'AVENIDA SAN FERMIN 10',
  '18:00',
  Timestamp('2024-10-02 00:00:00'),
  Timestamp('2025-06-18 00:00:00'),
  'Biblioteca Pública Municipal San Fermín (Usera)',
  1),
 ('Club de lectura. Retiro',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=d5e34dbe8f624910VgnVCM2000001f4a900aRCRD',
  28007,
  'PLAZA DAOIZ Y VELARDE 2',
  '18:00',
  Timestamp('2025-01-16 00:00:00'),
  Timestamp('2025-05-29 00:00:00'),
  'Centro Sociocultural Clara Campoamor (Retiro)',
  1),
 ('Club de lectura: autoras africanas',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=c278a6f664cb4910VgnVCM2000001f4a900aRCRD',
  28007,
  'CALLE ARREGUI Y ARUEJ 31',
  '17:30',
  Timestamp('2025-02-13 00:00:00'),
  Timestamp('2025-03-27 00:00:00'),
  'Espacio de Igualdad Elena Arnedo Soriano. Retiro',
  1),
 ('Club de novela Negra 2024- 2025',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=a1bec556bb451910VgnVCM2000001f4a900aRCRD',
  28001,
  'CALLE GOYA 1',
  None,
  Timestamp('2024-09-01 00:00:00'),
  Timestamp('2025-06-30 00:00:00'),
  'Centro Cultural Emilia Pardo Bazán (Salamanca)',
  1),
 ('Coder Dojo · Grupo de trabajo 2024-2025',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=8c98b60f928d2910VgnVCM1000001d4a900aRCRD',
  28045,
  'PASEO CHOPERA 14',
  None,
  Timestamp('2024-11-16 00:00:00'),
  Timestamp('2025-07-26 00:00:00'),
  'Medialab Matadero',
  1),
 ('Colección de ilustraciones Presente Continú0. Cosmo',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=98e33e8ae27a4910VgnVCM1000001d4a900aRCRD',
  28045,
  'PASEO CHOPERA 10',
  None,
  Timestamp('2025-02-24 00:00:00'),
  Timestamp('2025-03-15 00:00:00'),
  'Sala de exposiciones La Lonja. Centro Cultural Casa del Reloj (Arganzuela)',
  1),
 ('Conectores de la luz',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=fae4ebbe36624910VgnVCM1000001d4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  None,
  Timestamp('2025-01-18 00:00:00'),
  Timestamp('2025-03-23 00:00:00'),
  'Matadero Madrid',
  1),
 ('Construimos herramientas para el empoderamiento',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=d48ab1ed8d964910VgnVCM2000001f4a900aRCRD',
  28022,
  'PLAZA EURIPIDES 1',
  '18:15',
  Timestamp('2025-01-08 00:00:00'),
  Timestamp('2025-03-26 00:00:00'),
  'Espacio de Igualdad Lucía Sánchez Saornil. San Blas-Canillejas',
  1),
 ('Correr por Madrid',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=712a8daaa32d4710VgnVCM1000001d4a900aRCRD',
  None,
  None,
  '00:00',
  Timestamp('2024-09-01 00:00:00'),
  Timestamp('2025-06-30 00:00:00'),
  None,
  1),
 ('Cumpleaños',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=ecfee2fc6e6c1910VgnVCM1000001d4a900aRCRD',
  28012,
  'CALLE PRINCIPE 25',
  '18:30',
  Timestamp('2025-02-27 00:00:00'),
  Timestamp('2025-03-09 00:00:00'),
  'Teatro Español',
  1),
 ('Curso sobre la historia del Barrio del Pilar',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=c826b7021b7b1910VgnVCM2000001f4a900aRCRD',
  28029,
  'AVENIDA MONFORTE DE LEMOS 38',
  '11:30',
  Timestamp('2024-10-14 00:00:00'),
  Timestamp('2025-04-28 00:00:00'),
  'Biblioteca Pública Municipal José Saramago (Fuencarral-El Pardo)',
  1),
 ('Días no lectivos 28 de febrero y 3 marzo. Campamento Urbano de Villaverde',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=aae7755c2a384910VgnVCM2000001f4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2025-02-28 00:00:00'),
  Timestamp('2025-03-03 00:00:00'),
  None,
  1),
 ('Días sin cole 28 de febrero y 3 de marzo 2025. Distrito de Chamartín',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=2d85672756474910VgnVCM1000001d4a900aRCRD',
  None,
  None,
  None,
  Timestamp('2025-02-28 00:00:00'),
  Timestamp('2025-03-03 00:00:00'),
  None,
  1),
 ('Educación pública',

In [17]:
# Creamos la query de inserción de los datos de eventos
insert_query_eventos = """ 
                        INSERT INTO eventos (nombre_evento, url_evento, codigo_postal, direccion, horario,
                        fecha_inicio, fecha_fin,organizacion, id_ciudad)
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [18]:
# Ejecutamos la query y le indicamos los valores 
cur.executemany(insert_query_eventos, data_insert_eventos)
conn.commit()

In [19]:
# vamos a comprobar que se ha creado correctamente
query_eventos = """
    SELECT * 
    FROM eventos; 
"""
cur.execute(query_eventos)
cur.fetchmany(3)

[(1,
  '25º aniversario de la revista La Fragua',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=1ea220bed10d4910VgnVCM2000001f4a900aRCRD',
  28005,
  'CALLE SAN JUSTO 5',
  None,
  datetime.date(2025, 2, 24),
  datetime.date(2025, 3, 2),
  'Biblioteca Pública Municipal Iván de Vargas (Centro)',
  1),
 (2,
  '60 Premio Reina Sofía de Pintura y Escultura',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=34c5130393e15910VgnVCM2000001f4a900aRCRD',
  28009,
  'PASEO COLOMBIA 1',
  None,
  datetime.date(2025, 2, 27),
  datetime.date(2025, 3, 23),
  'Centro Cultural Casa de Vacas (Retiro)',
  1),
 (3,
  'A toda vela',
  'http://www.madrid.es/sites/v/index.jsp?vgnextchannel=ca9671ee4a9eb410VgnVCM100000171f5a0aRCRD&vgnextoid=59d5e7da8b822910VgnVCM1000001d4a900aRCRD',
  28045,
  'PLAZA LEGAZPI 8',
  None,
  datetime.date(2024, 10, 1),
  datetime.date(2025, 6, 1),
  'Matadero Madrid',
  1)]

# NO VOLVER A EJECUTAR LA QUERY DE EVENTOS, ESTA YA INSERTADA

### Tabla hoteles

In [20]:
# revisar tipo de datos
data.columns

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'nombre_hotel', 'ciudad', 'precio_noche', 'estrellas'],
      dtype='object')

In [21]:
data_insert_hotels = []

for _, row in data.iterrows():
    id_hotel = row["id_hotel"]
    nombre_hotel = row["nombre_hotel"] 
    competencia = row["competencia"] 
    valoracion = row["estrellas"] 
    id_ciudad = dictio_ciudad.get("Madrid") 

    tupla_hotel = (id_hotel, nombre_hotel, competencia, valoracion, id_ciudad)

    if tupla_hotel not in data_insert_hotels:
        data_insert_hotels.append(tupla_hotel)

In [22]:
data_insert_hotels

[('1', 'Hotel Monte Verde', False, 3.1, 1),
 ('2', 'Hotel Brisas del Mar', False, 3.09, 1),
 ('3', 'Hotel Camino del Sol', False, 3.07, 1),
 ('4', 'Hotel Puerta del Cielo', False, 3.03, 1),
 ('5', 'Hotel Encanto Real', False, 3.03, 1),
 ('6', 'Palacio del Sol', False, 2.99, 1),
 ('7', 'Hotel Jardines del Rey', False, 2.94, 1),
 ('8', 'Hotel Las Estrellas', False, 2.91, 1),
 ('9', 'Gran Hotel Madrid', False, 3.07, 1),
 ('10', 'Hotel Torre Dorada', False, 2.92, 1),
 ('11', 'Hotel Palacio Imperial', False, 3.01, 1),
 ('12', 'Hotel Luz de Madrid', False, 3.05, 1),
 ('13', 'Hotel Los Almendros', False, 3.01, 1),
 ('14', 'Hotel Sol y Luna', False, 3.01, 1),
 ('15', 'Hotel Mirador Real', False, 2.98, 1),
 ('16', 'Hotel Rincón Sereno', False, 3.0, 1),
 ('17', 'Hotel Vista Alegre', False, 2.94, 1),
 ('18', 'Hotel Costa Azul', False, 3.12, 1),
 ('19', 'Hotel Maravilla Real', False, 2.98, 1),
 ('20', 'ibis Styles Madrid Prado', True, 4.7, 1),
 ('21', 'ibis budget Madrid Calle 30', True, 4.4, 1),
 ('22', 'ibis Madrid Centro las Ventas', True, 4.5, 1),
 ('23', 'ibis budget Madrid Centro las Ventas', True, 4.3, 1),
 ('24', 'ibis budget Madrid Vallecas', True, 4.3, 1),
 ('25', 'ibis Madrid Aeropuerto Barajas', True, 4.4, 1),
 ('26', 'ibis Madrid Alcorcon Tresaguas', True, 4.4, 1),
 ('27', 'ibis budget Madrid Aeropuerto', True, 4.0, 1),
 ('28', 'ibis Madrid Alcobendas', True, 4.4, 1),
 ('29', 'ibis budget Madrid Alcorcon Móstoles', True, 4.5, 1)]

In [23]:
# Creamos la query de inserción de los datos de ciudad
insert_query_hoteles = """ 
                        INSERT INTO hoteles (id_hotel, nombre_hotel, competencia, valoracion, id_ciudad)
                        VALUES (%s, %s, %s, %s, %s)
"""

In [24]:
# Ejecutamos la query y le indicamos los valores 
cur.executemany(insert_query_hoteles, data_insert_hotels)
conn.commit()

In [25]:
# vamos a comprobar que se ha creado correctamente
query_hoteles = """
    SELECT * 
    FROM hoteles; 
"""
cur.execute(query_hoteles)
cur.fetchmany(3)

[('1', 'Hotel Monte Verde', False, 3.1, 1),
 ('2', 'Hotel Brisas del Mar', False, 3.09, 1),
 ('3', 'Hotel Camino del Sol', False, 3.07, 1)]

# HOTELES ESTA PERFECTO NO TOCAR MAS

### Tabla clientes

In [26]:
# revisar tipo de datos
data.columns

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'nombre_hotel', 'ciudad', 'precio_noche', 'estrellas'],
      dtype='object')

In [27]:
data_insert_clientes = []

for _, row in data.iterrows():

    id_cliente = row["id_cliente"]
    nombre = row["nombre"],
    apellido = row["apellido"],
    mail = row["mail"]

    tupla_cliente = (id_cliente, nombre, apellido, mail)

    if tupla_cliente not in data_insert_clientes:
        data_insert_clientes.append(tupla_cliente)

In [28]:
# Creamos la query de inserción de los datos de ciudad
insert_query_clientes = """ 
                        INSERT INTO clientes (id_cliente, nombre, apellido, mail)
                        VALUES (%s, %s, %s, %s)
"""

In [29]:
# Ejecutamos la query y le indicamos los valores 
cur.executemany(insert_query_clientes, data_insert_clientes)
conn.commit()

In [30]:
# vamos a comprobar que se ha creado correctamente
query_clientes = """
    SELECT * 
    FROM clientes; 
"""
cur.execute(query_clientes)
cur.fetchmany(3)

[('1', 'Maite', 'Calatayud', 'maite.calatayud@example.com'),
 ('2', 'Tecla', 'Bonet', 'tecla.bonet@example.com'),
 ('3', 'Amílcar', 'Andrés', 'amílcar.andrés@example.com')]

### Tabla reservas

In [31]:
# revisar tipo de datos
data.columns

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'nombre_hotel', 'ciudad', 'precio_noche', 'estrellas'],
      dtype='object')

In [32]:
# Sacamos el id de clientes de la tabla de clientes
cur.execute("SELECT nombre, id_cliente FROM clientes")
dictio_clientes = dict(cur.fetchall())
dictio_clientes

{'Maite': '13141',
 'Tecla': '14814',
 'Amílcar': '13479',
 'Joan': '14680',
 'Chelo': '12680',
 'Dolores': '13534',
 'Noé': '14144',
 'Omar': '14608',
 'Ágata': '14123',
 'Julie': '13797',
 'Javier': '10663',
 'Rita': '14765',
 'Ricardo': '14313',
 'Perlita': '14672',
 'Pedro': '14605',
 'Judith': '14238',
 'Francisco Javier': '14442',
 'Reynaldo': '14241',
 'Felicidad': '13027',
 'Pía': '14520',
 'Blas': '14336',
 'Claudia': '14842',
 'Fernanda': '13537',
 'Emilio': '14770',
 'Bárbara': '13760',
 'Emiliano': '14303',
 'Marisol': '14202',
 'Ezequiel': '14024',
 'Telmo': '14502',
 'Débora': '14653',
 'Darío': '14293',
 'Fausto': '14837',
 'Lorenza': '13933',
 'Anunciación': '14504',
 'María Belén': '13644',
 'Amaya': '14020',
 'Jose Angel': '14335',
 'Berta': '11535',
 'Salud': '14880',
 'Úrsula': '13529',
 'Sabas': '14723',
 'Asunción': '14667',
 'Jafet': '13640',
 'Adrián': '13868',
 'Benigno': '14660',
 'Jordán': '14083',
 'Sofía': '14576',
 'Ainara': '14286',
 'Segismundo': '14173',
 'Luisa': '14581',
 'César': '13795',
 'Brunilda': '13009',
 'Gervasio': '14231',
 'Sandra': '11584',
 'Calixta': '14647',
 'Ángeles': '14636',
 'Salvador': '13682',
 'Abilio': '14895',
 'Josefina': '14261',
 'Manu': '14774',
 'Cruz': '14902',
 'Joel': '14385',
 'Aníbal': '13804',
 'Juan Carlos': '14464',
 'Ignacio': '8982',
 'Paco': '13968',
 'Rafael': '13061',
 'Perla': '14290',
 'Olga': '14363',
 'Cristóbal': '14440',
 'Humberto': '12059',
 'Fabiana': '14778',
 'Teo': '14522',
 'Nazario': '14191',
 'Juan Francisco': '13915',
 'Jessica': '10392',
 'Eusebio': '14760',
 'Mario': '14872',
 'Paulino': '14488',
 'Jordi': '13460',
 'Amador': '14744',
 'Nazaret': '14448',
 'Otilia': '14843',
 'Georgina': '14891',
 'León': '13701',
 'Salomón': '14671',
 'David': '14401',
 'Corona': '13863',
 'Marcelo': '14012',
 'Sebastian': '14707',
 'Manolo': '14206',
 'Graciana': '14142',
 'Vanesa': '14588',
 'Marcial': '13926',
 'Aarón': '14140',
 'Tito': '14709',
 'Vasco': '14040',
 'Nadia': '14481',
 'Loreto': '14552',
 'Estefanía': '14369',
 'Arturo': '13220',
 'Emiliana': '11183',
 'Rodrigo': '14435',
 'Isidoro': '14585',
 'Josefa': '14819',
 'Cecilia': '12178',
 'Victoria': '14556',
 'Mar': '13471',
 'Maricruz': '14633',
 'Leonel': '14825',
 'Jorge': '14112',
 'Nico': '14117',
 'Cecilio': '14219',
 'Rodolfo': '14767',
 'Bernardo': '14811',
 'Candela': '12122',
 'María Luisa': '12895',
 'Reyna': '13720',
 'Leandro': '13934',
 'Roque': '14638',
 'Priscila': '13594',
 'Esther': '14693',
 'Dora': '14742',
 'Tiburcio': '13168',
 'Germán': '14443',
 'Nicolás': '12911',
 'Paz': '14579',
 'Ceferino': '12344',
 'Calista': '13666',
 'Pancho': '14859',
 'Mercedes': '14665',
 'Jose Miguel': '14879',
 'Ester': '14776',
 'Isaías': '14400',
 'María Fernanda': '14469',
 'Elvira': '13997',
 'Amancio': '14655',
 'Ligia': '14613',
 'Eli': '14651',
 'Clarisa': '13904',
 'Flora': '13965',
 'Sosimo': '14454',
 'Porfirio': '14300',
 'Florina': '14565',
 'Zaira': '13620',
 'Jose Luis': '14826',
 'Virgilio': '14406',
 'Ana Belén': '14609',
 'Ibán': '14593',
 'Flavia': '13812',
 'Sandalio': '14071',
 'Cándida': '14182',
 'Bernarda': '11438',
 'Wilfredo': '12641',
 'Jerónimo': '13950',
 'Maximiano': '13536',
 'Mamen': '14625',
 'Cornelio': '14624',
 'Poncio': '12776',
 'Leandra': '14804',
 'Baltasar': '14812',
 'Edmundo': '12949',
 'Aurelio': '12483',
 'Ale': '14871',
 'Eva': '13404',
 'Obdulia': '13796',
 'Jose Ramón': '14436',
 'Sigfrido': '14170',
 'Manuel': '13120',
 'Manola': '14828',
 'Hipólito': '13986',
 'Carmina': '13484',
 'Adoración': '13831',
 'Violeta': '14889',
 'Calixto': '13283',
 'Adelina': '11441',
 'Urbano': '14711',
 'Tamara': '14351',
 'Elisabet': '14553',
 'Jenaro': '13100',
 'Hortensia': '13985',
 'María Carmen': '14229',
 'Gerardo': '14832',
 'Amparo': '14482',
 'Joaquina': '14233',
 'Maxi': '14422',
 'Paloma': '13614',
 'Godofredo': '14900',
 'Carmela': '14393',
 'María': '14461',
 'Ciro': '11089',
 'Desiderio': '14597',
 'Lilia': '14371',
 'Elías': '14429',
 'Montserrat': '12994',
 'Pilar': '13568',
 'Maura': '13881',
 'Marcela': '14861',
 'Gracia': '13184',
 'Angelino': '14678',
 'Juan Manuel': '14447',
 'Rómulo': '14792',
 'Eugenia': '14402',
 'Andrés Felipe': '13433',
 'Clímaco': '12514',
 'Lázaro': '14475',
 'Esteban': '14281',
 'Cayetano': '14787',
 'Eric': '14896',
 'Agapito': '13353',
 'Inés': '14523',
 'Teobaldo': '13096',
 'Rico': '13476',
 'Juana': '14085',
 'Paula': '12688',
 'Lorena': '14346',
 'Lupita': '14498',
 'Gabino': '12931',
 'Jaime': '13802',
 'Marianela': '12879',
 'Pacífica': '14236',
 'Joaquín': '13097',
 'Soledad': '14445',
 'Demetrio': '14865',
 'Encarnación': '14030',
 'Lino': '14251',
 'Isaac': '14801',
 'Itziar': '14805',
 'Leoncio': '14583',
 'Miriam': '14306',
 'Odalis': '13736',
 'Roxana': '14439',
 'Pepito': '14512',
 'Alcides': '14628',
 'Mayte': '13746',
 'Encarnacion': '13870',
 'Alejandra': '13993',
 'Cándido': '14884',
 'Modesto': '13162',
 'Edelmira': '14603',
 'Elodia': '13959',
 'Susanita': '14463',
 'Pastora': '13884',
 'Luna': '14892',
 'Matías': '13589',
 'Clemente': '14338',
 'Maricela': '13456',
 'Gala': '14405',
 'Consuela': '14215',
 'Ramona': '14649',
 'Gema': '14164',
 'Pascual': '14269',
 'Clementina': '14240',
 'Fabricio': '14549',
 'Gisela': '14847',
 'María Cristina': '14739',
 'Ángel': '14444',
 'Leire': '14587',
 'Rafaela': '14098',
 'Ruy': '14382',
 'Ismael': '14519',
 'Olivia': '14094',
 'Eligia': '14355',
 'Gabriela': '12207',
 'María Teresa': '14681',
 'Eulalia': '14717',
 'Borja': '14124',
 'Marcio': '14757',
 'Pastor': '14121',
 'Rosario': '14749',
 'Casandra': '14870',
 'Nélida': '14813',
 'Bernabé': '14550',
 'Trini': '12940',
 'Cesar': '13773',
 'Federico': '13600',
 'Lorenzo': '9012',
 'Nilo': '14829',
 'Ciríaco': '14761',
 'Lourdes': '13452',
 'Martín': '13435',
 'Renato': '12953',
 'Herminia': '12958',
 'Iker': '13750',
 'Nicodemo': '14679',
 'Fabio': '14230',
 'Jimena': '14822',
 'Armando': '14243',
 'Loida': '14157',
 'Miguela': '14782',
 'Silvio': '13549',
 'Baldomero': '10906',
 'Ascensión': '14366',
 'Vicenta': '13949',
 'Amando': '14009',
 'Melchor': '14074',
 'Emigdio': '14158',
 'Adelardo': '14397',
 'Ildefonso': '14615',
 'Lucía': '14147',
 'Domingo': '13510',
 'Feliciana': '14213',
 'Piedad': '14600',
 'Abel': '13974',
 'Eusebia': '14816',
 'Macaria': '14379',
 'Bernardino': '11646',
 'Heriberto': '10432',
 'Ofelia': '14838',
 'Marisa': '14425',
 'Quirino': '14898',
 'Nayara': '13376',
 'Gertrudis': '14775',
 'Vicente': '14339',
 'Febe': '13411',
 'Nicolasa': '14477',
 'Bonifacio': '14690',
 'Quique': '14676',
 'Iris': '14663',
 'Ramiro': '13131',
 'Josep': '14821',
 'Gilberto': '14404',
 'Xiomara': '14378',
 'Emma': '14834',
 'Amor': '14806',
 'Leonor': '14011',
 'Ana': '14513',
 'Constanza': '14810',
 'Carmen': '14270',
 'Chema': '14492',
 'María José': '14611',
 'Felisa': '12875',
 'Efraín': '13469',
 'Ruperta': '13504',
 'Aura': '13308',
 'Josué': '14727',
 'Florentino': '14645',
 'Etelvina': '14257',
 'Cintia': '12648',
 'Américo': '14547',
 'Marciano': '13788',
 'Severo': '13860',
 'Lina': '13356',
 'Rosalinda': '14858',
 'Eladio': '14786',
 'Rosenda': '13785',
 'Rubén': '14652',
 'Guiomar': '14839',
 'Candelario': '10843',
 'Estrella': '13704',
 'Cleto': '14876',
 'Norberto': '14612',
 'Heliodoro': '13007',
 'Apolinar': '11849',
 'Leyre': '14089',
 'Aurelia': '14682',
 'Emperatriz': '14771',
 'Damián': '14683',
 'Natividad': '11040',
 'Isa': '13822',
 'Juanita': '12103',
 'Seve': '14080',
 'Matilde': '13185',
 'Magdalena': '14283',
 'Mauricio': '12976',
 'Gregorio': '13612',
 'Marc': '12859',
 'Ruperto': '13849',
 'Kike': '13800',
 'Haydée': '14118',
 'María Manuela': '14084',
 'Carmelita': '13747',
 'Heraclio': '13154',
 'Chuy': '14111',
 'Gabriel': '13449',
 'Régulo': '14149',
 'Custodio': '14703',
 'Felipa': '14529',
 'Eloy': '13550',
 'Guadalupe': '14345',
 'Marita': '14161',
 'Enrique': '13094',
 'Jonatan': '14284',
 'Diego': '13953',
 'Eloísa': '14434',
 'Nidia': '14295',
 'Irma': '14216',
 'Belén': '13991',
 'Armida': '14272',
 'Benito': '12106',
 'Agustina': '13914',
 'Luisina': '13361',
 'Yéssica': '14430',
 'Isabela': '14732',
 'Pablo': '9562',
 'Abigaíl': '12638',
 'Palmira': '14750',
 'Osvaldo': '14344',
 'Sara': '14758',
 'Sol': '14398',
 'Victoriano': '14623',
 'Arsenio': '12126',
 'Sarita': '13823',
 'Azahar': '13937',
 'Domitila': '14639',
 'Teófilo': '14383',
 'Brígida': '14208',
 'Ernesto': '14072',
 'Chita': '14542',
 'Cirino': '11882',
 'René': '13615',
 'Ruth': '14677',
 'Goyo': '12675',
 'Plinio': '13535',
 'Nieves': '14143',
 'Miguel': '14830',
 'Carolina': '13628',
 'Gustavo': '14421',
 'Clotilde': '14365',
 'Fátima': '14036',
 'Paca': '12810',
 'Lola': '14710',
 'Primitiva': '14701',
 'Raúl': '14476',
 'Griselda': '14049',
 'Luciano': '14716',
 'José': '14793',
 'Virginia': '14239',
 'Regina': '13472',
 'Rosa': '13557',
 'Basilio': '14641',
 'Valentina': '14460',
 'Lisandro': '14412',
 'Remedios': '14250',
 'Marcelino': '13979',
 'Nacho': '14544',
 'Pelayo': '13862',
 'Maximiliano': '13658',
 'Albano': '14863',
 'Melania': '14762',
 'Celia': '13826',
 'Fortunato': '12574',
 'Julio César': '12726',
 'Micaela': '13889',
 'Jose Manuel': '14135',
 'Marco': '14185',
 'Olalla': '14800',
 'Lupe': '14277',
 'Merche': '10799',
 'Caridad': '14882',
 'Íñigo': '14352',
 'Natalia': '14457',
 'Genoveva': '14862',
 'Elba': '13098',
 'Bienvenida': '13238',
 'Morena': '13873',
 'Octavia': '13882',
 'Filomena': '11936',
 'Margarita': '14695',
 'Javiera': '13874',
 'Olegario': '13525',
 'Víctor': '14320',
 'Fidel': '13395',
 'Malena': '13941',
 'Juliana': '14799',
 'Nerea': '14391',
 'Haroldo': '8615',
 'Esmeralda': '13657',
 'Dominga': '14478',
 'Epifanio': '13878',
 'Amada': '14273',
 'Celestino': '13784',
 'Daniel': '14073',
 'Emilia': '14390',
 'Noa': '14614',
 'Luís': '14846',
 'Inmaculada': '14735',
 'Crescencia': '14589',
 'Narcisa': '14618',
 'Maribel': '14646',
 'Saturnina': '12504',
 'Álvaro': '14769',
 'Timoteo': '14541',
 'Mohamed': '14480',
 'Eufemia': '14449',
 'Ciriaco': '13030',
 'Albina': '14377',
 'Noelia': '14852',
 'Dorotea': '10246',
 'Eligio': '14897',
 'Cloe': '14747',
 'Ulises': '14868',
 'Laura': '14253',
 'Azeneth': '14866',
 'Juan José': '13921',
 'Ariadna': '14217',
 'Rosa María': '13297',
 'Yago': '14321',
 'Jose Carlos': '14595',
 'Mariana': '13627',
 'Anselma': '14450',
 'Santos': '14340',
 'Cipriano': '13725',
 'Félix': '14507',
 'Rebeca': '14759',
 'Andrea': '13072',
 'Julián': '12437',
 'Daniela': '13224',
 'Juan Pablo': '14287',
 'Amaro': '14266',
 'Raquel': '13875',
 'Camilo': '14291',
 'Amanda': '12815',
 'Macarena': '14032',
 'Maximino': '14854',
 'Marcia': '14764',
 'Chus': '14791',
 'Reyes': '14873',
 'Cosme': '12856',
 'Carla': '12496',
 'Encarna': '14108',
 'Toño': '14904',
 'Natanael': '14635',
 'Sebastián': '14568',
 'Macario': '13674',
 'Roldán': '12054',
 'Juan': '14604',
 'Yaiza': '13570',
 'Cayetana': '14688',
 'Rocío': '14183',
 'Rufina': '13231',
 'Concha': '14617',
 'Emelina': '14466',
 'Augusto': '14630',
 'Teófila': '14890',
 'Olimpia': '13561',
 'Isidora': '13637',
 'Miguel Ángel': '14763',
 'Héctor': '14755',
 'Martina': '14485',
 'Pepita': '14802',
 'Sabina': '14874',
 'Tere': '14740',
 'Jennifer': '14809',
 'Rolando': '14407',
 'Flor': '13396',
 'Rosaura': '14715',
 'Adán': '14794',
 'Juan Antonio': '14415',
 'Hilda': '14648',
 'Adriana': '14494',
 'Trinidad': '14836',
 'Iván': '12944',
 'Salomé': '14602',
 'Delfina': '13946',
 'Severiano': '14535',
 'Eutropio': '13211',
 'Octavio': '14413',
 'Rosalía': '14292',
 'Galo': '14785',
 'Adalberto': '14596',
 'Alberto': '13175',
 'Cristian': '14222',
 'Artemio': '14347',
 'Xavier': '8193',
 'Amelia': '14416',
 'Alfredo': '14487',
 'Atilio': '14106',
 'Alex': '14729',
 'Rogelio': '14689',
 'Florencia': '14220',
 'Viviana': '13883',
 'Amarilis': '13679',
 'Valero': '14669',
 'Pascuala': '14888',
 'Faustino': '14267',
 'Carlito': '13865',
 'Natalio': '14496',
 'Jacinto': '14855',
 'Prudencio': '14021',
 'Evita': '14141',
 'Toribio': '13992',
 'Yolanda': '14768',
 'África': '13630',
 'Florentina': '14223',
 'Dafne': '14781',
 'Imelda': '14766',
 'Hermenegildo': '10587',
 'Carina': '13323',
 'Guillermo': '13625',
 'Fulgencio': '14894',
 'Íngrid': '12899',
 'María Ángeles': '14734',
 'Gerónimo': '14367',
 'Marina': '12869',
 'Apolonia': '13496',
 'Patricia': '14857',
 'Curro': '14746',
 'Bibiana': '13315',
 'Rosendo': '14753',
 'Aitor': '12650',
 'Che': '14194',
 'Manuela': '14853',
 'Custodia': '14905',
 'Pepe': '13661',
 'Pánfilo': '14883',
 'Plácido': '12142',
 'Soraya': '14885',
 'Cristina': '14196',
 'Candelaria': '14666',
 'Eustaquio': '14733',
 'Tatiana': '13624',
 'Alondra': '14796',
 'Juan Luis': '14835',
 'Máxima': '13925',
 'Tomasa': '14685',
 'Patricio': '14827',
 'Carmelo': '13123',
 'Edu': '13984',
 'Ariel': '14008',
 'Eugenio': '14153',
 'Santiago': '14598',
 'Inocencio': '14668',
 'Paulina': '14093',
 'Bernardita': '11906',
 'Valeria': '14752',
 'Alma': '14803',
 'Nilda': '12972',
 'José Luis': '12066',
 'Fanny': '13086',
 'Valentín': '14146',
 'Anastasio': '13772',
 'Jesús': '14887',
 'Bruno': '13455',
 'Lucila': '14417',
 'Rosalva': '13681',
 'Jeremías': '14467',
 'Dimas': '12904',
 'Socorro': '14562',
 'Rufino': '14629',
 'Máximo': '14875',
 'Catalina': '13115',
 'Odalys': '13339',
 'Charo': '14047',
 'Sergio': '14718',
 'Lucas': '14869',
 'Arcelia': '14054',
 'Espiridión': '13816',
 'Selena': '14506',
 'Sonia': '14325',
 'Francisco': '13499',
 'Juan Bautista': '14575',
 'Adora': '13075',
 'María Dolores': '14511',
 'Fernando': '13364',
 'Isidro': '14360',
 'Manuelita': '13896',
 'Alejo': '14654',
 'Mateo': '14156',
 'Horacio': '13806',
 'Alicia': '14327',
 'Susana': '13996',
 'Aristides': '12917',
 'Fabián': '11621',
 'Elena': '14515',
 'Gil': '13789',
 'Conrado': '12947',
 'Begoña': '14254',
 'Calisto': '13631',
 'Luciana': '14432',
 'Celestina': '12491',
 'Flavio': '14370',
 'Anna': '10801',
 'Moreno': '14540',
 'Moisés': '14741',
 'Tania': '13673',
 'Édgar': '14789',
 'Jenny': '14632',
 'Evelia': '14380',
 'Azucena': '14431',
 'Clara': '14044',
 'Ignacia': '14798',
 'Toni': '14501',
 'Alba': '14779',
 'Graciano': '13634',
 'Oriana': '14484',
 'Ximena': '11317',
 'Angelita': '14720',
 'Leticia': '12636',
 'Alejandro': '14772',
 'Angélica': '12304',
 'Chucho': '14055',
 'Irene': '12751',
 'Eleuterio': '14334',
 'Martin': '14713',
 'María Del Carmen': '13598',
 'Áurea': '14105',
 'Vinicio': '14107',
 'Dionisia': '12078',
 'Leopoldo': '14684',
 'Consuelo': '14756',
 'Geraldo': '14060',
 'Almudena': '14573',
 'Marta': '14580',
 'Aureliano': '13277',
 'Jacobo': '14719',
 'Casemiro': '12824',
 'Lope': '14503',
 'Aitana': '14784',
 'Anselmo': '13493',
 'Belen': '14489',
 'Vera': '14453',
 'Renata': '13977',
 'José Ángel': '11708',
 'Purificación': '13963',
 'Abril': '12928',
 'Julieta': '14748',
 'Agustín': '14661',
 'Baudelio': '14658',
 'Felicia': '13252',
 'Gaspar': '13393',
 'Verónica': '14264',
 'Aránzazu': '14114',
 'Petrona': '14728',
 'Isaura': '14616',
 'Dorita': '14599',
 'Dionisio': '14743',
 'Noemí': '11444',
 'Hilario': '13327',
 'Benita': '14692',
 'Teresa': '14578',
 'Remigio': '13580',
 'Tristán': '14095',
 'Raimundo': '13513',
 'Ileana': '13886',
 'Dan': '12045',
 'Esperanza': '13490',
 'Ramón': '13859',
 'Isabel': '14323',
 'Graciela': '13793',
 'Mariano': '13125',
 'Javi': '14079',
 'Luis': '14017',
 'Lucho': '12955',
 'Angelina': '13668',
 'Luis Miguel': '14850',
 'Samu': '13343',
 'Celso': '13256',
 'Severino': '14310',
 'Beatriz': '14326',
 'Luz': '11146',
 'Balduino': '12097',
 'Albert': '14601',
 'Yésica': '14844',
 'Ambrosio': '14840',
 'Marino': '14472',
 'Zoraida': '14354',
 'Prudencia': '14591',
 'Saturnino': '13034',
 'Pili': '13230',
 'Wálter': '14418',
 'Mónica': '14179',
 'Ricarda': '14188',
 'Dalila': '13700',
 'Jose Ignacio': '14395',
 'Juanito': '13430',
 'Mirta': '13872',
 'Ovidio': '12811',
 'Amalia': '13475',
 'Concepción': '14033',
 'Azahara': '13891',
 'Donato': '14027',
 'José Manuel': '14656',
 'Alfonso': '13494',
 'Modesta': '14361',
 'Rosalina': '13781',
 'Jovita': '14204',
 'Jacinta': '14201',
 'Alonso': '14209',
 'Óscar': '13004',
 'Herminio': '13864',
 'Roberta': '14607',
 'Águeda': '13093',
 'José Mari': '14190',
 'Elisa': '14490',
 'Asdrubal': '12893',
 'Hugo': '14610',
 'Victor': '14696',
 'Benjamín': '14337',
 'Diana': '14702',
 'Eva María': '13839',
 'Nydia': '14561',
 'Bautista': '12485',
 'Simón': '9215',
 'Hernán': '13738',
 'Aurora': '14258',
 'Valerio': '12462',
 'Anacleto': '14518',
 'Reinaldo': '13969',
 'Duilio': '14023',
 'Ani': '14555',
 'Leonardo': '13282',
 'María Jesús': '14738',
 'Delia': '14691',
 'Erasmo': '14228',
 'Florencio': '12311',
 'Gloria': '13200',
 'Jesusa': '14901',
 'Primitivo': '14725',
 'Eduardo': '14528',
 'Ruben': '14376',
 'Silvia': '13117',
 'Narciso': '11378',
 'Nando': '12867',
 'Tadeo': '14524',
 'Florinda': '10446',
 'Adelia': '14263',
 'Paola': '14392',
 'Visitación': '14297',
 'Berto': '14878',
 'Ámbar': '14705',
 'Román': '13595',
 'Teodoro': '13226',
 'Roberto': '14330',
 'Antonio': '14428',
 'Sancho': '13502',
 'Hernando': '14497',
 'Coral': '13586',
 'Claudio': '14631',
 'Rafa': '12809',
 'Fabiola': '14867',
 'Fidela': '10277',
 'Edgardo': '14551',
 'Vidal': '14849',
 'Andrés': '14394',
 'Buenaventura': '14687',
 'Milagros': '12060',
 'Anastasia': '14881',
 'Victor Manuel': '14807',
 'Blanca': '13957',
 'Carlota': '13665',
 'Gastón': '12980',
 'Antonia': '14851',
 'Candelas': '14817',
 'Ema': '14537',
 'Jose': '12360',
 'Encarnita': '14644',
 'Eliseo': '14192',
 'Marcos': '14694',
 'Adolfo': '12657',
 'Felipe': '13928',
 'Lidia': '14818',
 'Teodosio': '14856',
 'José Antonio': '11687',
 'Anita': '14899',
 'Fito': '13751',
 'Jose Francisco': '14903',
 'Francisca': '14714',
 'Ainoa': '13047',
 'Reina': '13245',
 'Jordana': '14426',
 'Evaristo': '13431',
 'Néstor': '13058',
 'Nuria': '13955',
 'Edelmiro': '14278',
 'Julio': '13423',
 'Fortunata': '14305',
 'Hector': '14548',
 'Samuel': '14373',
 'Zaida': '14670',
 'Glauco': '12822',
 'Tomás': '14724',
 'Serafina': '14674',
 'Lucio': '14309',
 'Albino': '11195',
 'Mireia': '13924',
 'Bartolomé': '14381',
 'Eliana': '14546',
 'Herberto': '14726',
 'Leocadio': '14359',
 'Amado': '14374',
 'Teresita': '14572',
 'María Pilar': '14046',
 'Felix': '14531',
 'Evangelina': '14886',
 'Vilma': '13948',
 'Martirio': '14530',
 'Lara': '13173',
 'Adelaida': '14721',
 'Nicanor': '14659',
 'Francisco Jose': '14462',
 'Adela': '14708',
 'Samanta': '13078',
 'Silvestre': '14626',
 'América': '14730',
 'Teodora': '14285',
 'Ángela': '14831',
 'Zacarías': '11937',
 'Melisa': '13623',
 'Feliciano': '14554',
 'Camila': '13332',
 'Venceslás': '13964',
 'Julia': '14699',
 'Liliana': '14090',
 'Nereida': '14643',
 'Onofre': '13739',
 'Pío': '8533',
 'Elpidio': '13461',
 'Gonzalo': '14893',
 'Ana Sofía': '13990',
 'José María': '14662',
 'Victorino': '14364',
 'Fermín': '13733',
 'Araceli': '13213',
 'Abraham': '13042',
 'Danilo': '13407',
 'Estela': '12234',
 'Lalo': '14577',
 'Anabel': '13944',
 'Vito': '14013',
 'Eutimio': '13899',
 'Leocadia': '14848',
 'Aroa': '14016',
 'Cebrián': '14637',
 'Nacio': '13468',
 'Carlos': '14833',
 'Dulce': '14455',
 'Alexandra': '14195',
 'Marisela': '13693',
 'Maristela': '14566',
 'Jose Antonio': '13406',
 'Luis Ángel': '14634',
 'Benigna': '14864',
 'Dani': '14731'}

In [33]:
# Sacamos el id de hotel de la tabla de hoteles
cur.execute("SELECT nombre_hotel, id_hotel FROM hoteles")
dictio_hoteles = dict(cur.fetchall())
dictio_hoteles

{'Hotel Monte Verde': '1',
 'Hotel Brisas del Mar': '2',
 'Hotel Camino del Sol': '3',
 'Hotel Puerta del Cielo': '4',
 'Hotel Encanto Real': '5',
 'Palacio del Sol': '6',
 'Hotel Jardines del Rey': '7',
 'Hotel Las Estrellas': '8',
 'Gran Hotel Madrid': '9',
 'Hotel Torre Dorada': '10',
 'Hotel Palacio Imperial': '11',
 'Hotel Luz de Madrid': '12',
 'Hotel Los Almendros': '13',
 'Hotel Sol y Luna': '14',
 'Hotel Mirador Real': '15',
 'Hotel Rincón Sereno': '16',
 'Hotel Vista Alegre': '17',
 'Hotel Costa Azul': '18',
 'Hotel Maravilla Real': '19',
 'ibis Styles Madrid Prado': '20',
 'ibis budget Madrid Calle 30': '21',
 'ibis Madrid Centro las Ventas': '22',
 'ibis budget Madrid Centro las Ventas': '23',
 'ibis budget Madrid Vallecas': '24',
 'ibis Madrid Aeropuerto Barajas': '25',
 'ibis Madrid Alcorcon Tresaguas': '26',
 'ibis budget Madrid Aeropuerto': '27',
 'ibis Madrid Alcobendas': '28',
 'ibis budget Madrid Alcorcon Móstoles': '29'}

In [34]:
print(dictio_hoteles.keys())  # Verifica que la clave realmente está en el diccionario
print(dictio_clientes.keys())

dict_keys(['Hotel Monte Verde', 'Hotel Brisas del Mar', 'Hotel Camino del Sol', 'Hotel Puerta del Cielo', 'Hotel Encanto Real', 'Palacio del Sol', 'Hotel Jardines del Rey', 'Hotel Las Estrellas', 'Gran Hotel Madrid', 'Hotel Torre Dorada', 'Hotel Palacio Imperial', 'Hotel Luz de Madrid', 'Hotel Los Almendros', 'Hotel Sol y Luna', 'Hotel Mirador Real', 'Hotel Rincón Sereno', 'Hotel Vista Alegre', 'Hotel Costa Azul', 'Hotel Maravilla Real', 'ibis Styles Madrid Prado', 'ibis budget Madrid Calle 30', 'ibis Madrid Centro las Ventas', 'ibis budget Madrid Centro las Ventas', 'ibis budget Madrid Vallecas', 'ibis Madrid Aeropuerto Barajas', 'ibis Madrid Alcorcon Tresaguas', 'ibis budget Madrid Aeropuerto', 'ibis Madrid Alcobendas', 'ibis budget Madrid Alcorcon Móstoles'])
dict_keys(['Maite', 'Tecla', 'Amílcar', 'Joan', 'Chelo', 'Dolores', 'Noé', 'Omar', 'Ágata', 'Julie', 'Javier', 'Rita', 'Ricardo', 'Perlita', 'Pedro', 'Judith', 'Francisco Javier', 'Reynaldo', 'Felicidad', 'Pía', 'Blas', 'Claudia', 'Fernanda', 'Emilio', 'Bárbara', 'Emiliano', 'Marisol', 'Ezequiel', 'Telmo', 'Débora', 'Darío', 'Fausto', 'Lorenza', 'Anunciación', 'María Belén', 'Amaya', 'Jose Angel', 'Berta', 'Salud', 'Úrsula', 'Sabas', 'Asunción', 'Jafet', 'Adrián', 'Benigno', 'Jordán', 'Sofía', 'Ainara', 'Segismundo', 'Luisa', 'César', 'Brunilda', 'Gervasio', 'Sandra', 'Calixta', 'Ángeles', 'Salvador', 'Abilio', 'Josefina', 'Manu', 'Cruz', 'Joel', 'Aníbal', 'Juan Carlos', 'Ignacio', 'Paco', 'Rafael', 'Perla', 'Olga', 'Cristóbal', 'Humberto', 'Fabiana', 'Teo', 'Nazario', 'Juan Francisco', 'Jessica', 'Eusebio', 'Mario', 'Paulino', 'Jordi', 'Amador', 'Nazaret', 'Otilia', 'Georgina', 'León', 'Salomón', 'David', 'Corona', 'Marcelo', 'Sebastian', 'Manolo', 'Graciana', 'Vanesa', 'Marcial', 'Aarón', 'Tito', 'Vasco', 'Nadia', 'Loreto', 'Estefanía', 'Arturo', 'Emiliana', 'Rodrigo', 'Isidoro', 'Josefa', 'Cecilia', 'Victoria', 'Mar', 'Maricruz', 'Leonel', 'Jorge', 'Nico', 'Cecilio', 'Rodolfo', 'Bernardo', 'Candela', 'María Luisa', 'Reyna', 'Leandro', 'Roque', 'Priscila', 'Esther', 'Dora', 'Tiburcio', 'Germán', 'Nicolás', 'Paz', 'Ceferino', 'Calista', 'Pancho', 'Mercedes', 'Jose Miguel', 'Ester', 'Isaías', 'María Fernanda', 'Elvira', 'Amancio', 'Ligia', 'Eli', 'Clarisa', 'Flora', 'Sosimo', 'Porfirio', 'Florina', 'Zaira', 'Jose Luis', 'Virgilio', 'Ana Belén', 'Ibán', 'Flavia', 'Sandalio', 'Cándida', 'Bernarda', 'Wilfredo', 'Jerónimo', 'Maximiano', 'Mamen', 'Cornelio', 'Poncio', 'Leandra', 'Baltasar', 'Edmundo', 'Aurelio', 'Ale', 'Eva', 'Obdulia', 'Jose Ramón', 'Sigfrido', 'Manuel', 'Manola', 'Hipólito', 'Carmina', 'Adoración', 'Violeta', 'Calixto', 'Adelina', 'Urbano', 'Tamara', 'Elisabet', 'Jenaro', 'Hortensia', 'María Carmen', 'Gerardo', 'Amparo', 'Joaquina', 'Maxi', 'Paloma', 'Godofredo', 'Carmela', 'María', 'Ciro', 'Desiderio', 'Lilia', 'Elías', 'Montserrat', 'Pilar', 'Maura', 'Marcela', 'Gracia', 'Angelino', 'Juan Manuel', 'Rómulo', 'Eugenia', 'Andrés Felipe', 'Clímaco', 'Lázaro', 'Esteban', 'Cayetano', 'Eric', 'Agapito', 'Inés', 'Teobaldo', 'Rico', 'Juana', 'Paula', 'Lorena', 'Lupita', 'Gabino', 'Jaime', 'Marianela', 'Pacífica', 'Joaquín', 'Soledad', 'Demetrio', 'Encarnación', 'Lino', 'Isaac', 'Itziar', 'Leoncio', 'Miriam', 'Odalis', 'Roxana', 'Pepito', 'Alcides', 'Mayte', 'Encarnacion', 'Alejandra', 'Cándido', 'Modesto', 'Edelmira', 'Elodia', 'Susanita', 'Pastora', 'Luna', 'Matías', 'Clemente', 'Maricela', 'Gala', 'Consuela', 'Ramona', 'Gema', 'Pascual', 'Clementina', 'Fabricio', 'Gisela', 'María Cristina', 'Ángel', 'Leire', 'Rafaela', 'Ruy', 'Ismael', 'Olivia', 'Eligia', 'Gabriela', 'María Teresa', 'Eulalia', 'Borja', 'Marcio', 'Pastor', 'Rosario', 'Casandra', 'Nélida', 'Bernabé', 'Trini', 'Cesar', 'Federico', 'Lorenzo', 'Nilo', 'Ciríaco', 'Lourdes', 'Martín', 'Renato', 'Herminia', 'Iker', 'Nicodemo', 'Fabio', 'Jimena', 'Armando', 'Loida', 'Miguela', 'Silvio', 'Baldomero', 'Ascensión', 'Vicenta', 'Amando', 'Melchor', 'Emigdio', 'Adelardo', 'Ildefonso', 'Lucía', 'Domingo', 'Feliciana', 'Piedad', 'Abel', 'Eusebia', 'Macaria', 'Bernardino', 'Heriberto', 'Ofelia', 'Marisa', 'Quirino', 'Nayara', 'Gertrudis', 'Vicente', 'Febe', 'Nicolasa', 'Bonifacio', 'Quique', 'Iris', 'Ramiro', 'Josep', 'Gilberto', 'Xiomara', 'Emma', 'Amor', 'Leonor', 'Ana', 'Constanza', 'Carmen', 'Chema', 'María José', 'Felisa', 'Efraín', 'Ruperta', 'Aura', 'Josué', 'Florentino', 'Etelvina', 'Cintia', 'Américo', 'Marciano', 'Severo', 'Lina', 'Rosalinda', 'Eladio', 'Rosenda', 'Rubén', 'Guiomar', 'Candelario', 'Estrella', 'Cleto', 'Norberto', 'Heliodoro', 'Apolinar', 'Leyre', 'Aurelia', 'Emperatriz', 'Damián', 'Natividad', 'Isa', 'Juanita', 'Seve', 'Matilde', 'Magdalena', 'Mauricio', 'Gregorio', 'Marc', 'Ruperto', 'Kike', 'Haydée', 'María Manuela', 'Carmelita', 'Heraclio', 'Chuy', 'Gabriel', 'Régulo', 'Custodio', 'Felipa', 'Eloy', 'Guadalupe', 'Marita', 'Enrique', 'Jonatan', 'Diego', 'Eloísa', 'Nidia', 'Irma', 'Belén', 'Armida', 'Benito', 'Agustina', 'Luisina', 'Yéssica', 'Isabela', 'Pablo', 'Abigaíl', 'Palmira', 'Osvaldo', 'Sara', 'Sol', 'Victoriano', 'Arsenio', 'Sarita', 'Azahar', 'Domitila', 'Teófilo', 'Brígida', 'Ernesto', 'Chita', 'Cirino', 'René', 'Ruth', 'Goyo', 'Plinio', 'Nieves', 'Miguel', 'Carolina', 'Gustavo', 'Clotilde', 'Fátima', 'Paca', 'Lola', 'Primitiva', 'Raúl', 'Griselda', 'Luciano', 'José', 'Virginia', 'Regina', 'Rosa', 'Basilio', 'Valentina', 'Lisandro', 'Remedios', 'Marcelino', 'Nacho', 'Pelayo', 'Maximiliano', 'Albano', 'Melania', 'Celia', 'Fortunato', 'Julio César', 'Micaela', 'Jose Manuel', 'Marco', 'Olalla', 'Lupe', 'Merche', 'Caridad', 'Íñigo', 'Natalia', 'Genoveva', 'Elba', 'Bienvenida', 'Morena', 'Octavia', 'Filomena', 'Margarita', 'Javiera', 'Olegario', 'Víctor', 'Fidel', 'Malena', 'Juliana', 'Nerea', 'Haroldo', 'Esmeralda', 'Dominga', 'Epifanio', 'Amada', 'Celestino', 'Daniel', 'Emilia', 'Noa', 'Luís', 'Inmaculada', 'Crescencia', 'Narcisa', 'Maribel', 'Saturnina', 'Álvaro', 'Timoteo', 'Mohamed', 'Eufemia', 'Ciriaco', 'Albina', 'Noelia', 'Dorotea', 'Eligio', 'Cloe', 'Ulises', 'Laura', 'Azeneth', 'Juan José', 'Ariadna', 'Rosa María', 'Yago', 'Jose Carlos', 'Mariana', 'Anselma', 'Santos', 'Cipriano', 'Félix', 'Rebeca', 'Andrea', 'Julián', 'Daniela', 'Juan Pablo', 'Amaro', 'Raquel', 'Camilo', 'Amanda', 'Macarena', 'Maximino', 'Marcia', 'Chus', 'Reyes', 'Cosme', 'Carla', 'Encarna', 'Toño', 'Natanael', 'Sebastián', 'Macario', 'Roldán', 'Juan', 'Yaiza', 'Cayetana', 'Rocío', 'Rufina', 'Concha', 'Emelina', 'Augusto', 'Teófila', 'Olimpia', 'Isidora', 'Miguel Ángel', 'Héctor', 'Martina', 'Pepita', 'Sabina', 'Tere', 'Jennifer', 'Rolando', 'Flor', 'Rosaura', 'Adán', 'Juan Antonio', 'Hilda', 'Adriana', 'Trinidad', 'Iván', 'Salomé', 'Delfina', 'Severiano', 'Eutropio', 'Octavio', 'Rosalía', 'Galo', 'Adalberto', 'Alberto', 'Cristian', 'Artemio', 'Xavier', 'Amelia', 'Alfredo', 'Atilio', 'Alex', 'Rogelio', 'Florencia', 'Viviana', 'Amarilis', 'Valero', 'Pascuala', 'Faustino', 'Carlito', 'Natalio', 'Jacinto', 'Prudencio', 'Evita', 'Toribio', 'Yolanda', 'África', 'Florentina', 'Dafne', 'Imelda', 'Hermenegildo', 'Carina', 'Guillermo', 'Fulgencio', 'Íngrid', 'María Ángeles', 'Gerónimo', 'Marina', 'Apolonia', 'Patricia', 'Curro', 'Bibiana', 'Rosendo', 'Aitor', 'Che', 'Manuela', 'Custodia', 'Pepe', 'Pánfilo', 'Plácido', 'Soraya', 'Cristina', 'Candelaria', 'Eustaquio', 'Tatiana', 'Alondra', 'Juan Luis', 'Máxima', 'Tomasa', 'Patricio', 'Carmelo', 'Edu', 'Ariel', 'Eugenio', 'Santiago', 'Inocencio', 'Paulina', 'Bernardita', 'Valeria', 'Alma', 'Nilda', 'José Luis', 'Fanny', 'Valentín', 'Anastasio', 'Jesús', 'Bruno', 'Lucila', 'Rosalva', 'Jeremías', 'Dimas', 'Socorro', 'Rufino', 'Máximo', 'Catalina', 'Odalys', 'Charo', 'Sergio', 'Lucas', 'Arcelia', 'Espiridión', 'Selena', 'Sonia', 'Francisco', 'Juan Bautista', 'Adora', 'María Dolores', 'Fernando', 'Isidro', 'Manuelita', 'Alejo', 'Mateo', 'Horacio', 'Alicia', 'Susana', 'Aristides', 'Fabián', 'Elena', 'Gil', 'Conrado', 'Begoña', 'Calisto', 'Luciana', 'Celestina', 'Flavio', 'Anna', 'Moreno', 'Moisés', 'Tania', 'Édgar', 'Jenny', 'Evelia', 'Azucena', 'Clara', 'Ignacia', 'Toni', 'Alba', 'Graciano', 'Oriana', 'Ximena', 'Angelita', 'Leticia', 'Alejandro', 'Angélica', 'Chucho', 'Irene', 'Eleuterio', 'Martin', 'María Del Carmen', 'Áurea', 'Vinicio', 'Dionisia', 'Leopoldo', 'Consuelo', 'Geraldo', 'Almudena', 'Marta', 'Aureliano', 'Jacobo', 'Casemiro', 'Lope', 'Aitana', 'Anselmo', 'Belen', 'Vera', 'Renata', 'José Ángel', 'Purificación', 'Abril', 'Julieta', 'Agustín', 'Baudelio', 'Felicia', 'Gaspar', 'Verónica', 'Aránzazu', 'Petrona', 'Isaura', 'Dorita', 'Dionisio', 'Noemí', 'Hilario', 'Benita', 'Teresa', 'Remigio', 'Tristán', 'Raimundo', 'Ileana', 'Dan', 'Esperanza', 'Ramón', 'Isabel', 'Graciela', 'Mariano', 'Javi', 'Luis', 'Lucho', 'Angelina', 'Luis Miguel', 'Samu', 'Celso', 'Severino', 'Beatriz', 'Luz', 'Balduino', 'Albert', 'Yésica', 'Ambrosio', 'Marino', 'Zoraida', 'Prudencia', 'Saturnino', 'Pili', 'Wálter', 'Mónica', 'Ricarda', 'Dalila', 'Jose Ignacio', 'Juanito', 'Mirta', 'Ovidio', 'Amalia', 'Concepción', 'Azahara', 'Donato', 'José Manuel', 'Alfonso', 'Modesta', 'Rosalina', 'Jovita', 'Jacinta', 'Alonso', 'Óscar', 'Herminio', 'Roberta', 'Águeda', 'José Mari', 'Elisa', 'Asdrubal', 'Hugo', 'Victor', 'Benjamín', 'Diana', 'Eva María', 'Nydia', 'Bautista', 'Simón', 'Hernán', 'Aurora', 'Valerio', 'Anacleto', 'Reinaldo', 'Duilio', 'Ani', 'Leonardo', 'María Jesús', 'Delia', 'Erasmo', 'Florencio', 'Gloria', 'Jesusa', 'Primitivo', 'Eduardo', 'Ruben', 'Silvia', 'Narciso', 'Nando', 'Tadeo', 'Florinda', 'Adelia', 'Paola', 'Visitación', 'Berto', 'Ámbar', 'Román', 'Teodoro', 'Roberto', 'Antonio', 'Sancho', 'Hernando', 'Coral', 'Claudio', 'Rafa', 'Fabiola', 'Fidela', 'Edgardo', 'Vidal', 'Andrés', 'Buenaventura', 'Milagros', 'Anastasia', 'Victor Manuel', 'Blanca', 'Carlota', 'Gastón', 'Antonia', 'Candelas', 'Ema', 'Jose', 'Encarnita', 'Eliseo', 'Marcos', 'Adolfo', 'Felipe', 'Lidia', 'Teodosio', 'José Antonio', 'Anita', 'Fito', 'Jose Francisco', 'Francisca', 'Ainoa', 'Reina', 'Jordana', 'Evaristo', 'Néstor', 'Nuria', 'Edelmiro', 'Julio', 'Fortunata', 'Hector', 'Samuel', 'Zaida', 'Glauco', 'Tomás', 'Serafina', 'Lucio', 'Albino', 'Mireia', 'Bartolomé', 'Eliana', 'Herberto', 'Leocadio', 'Amado', 'Teresita', 'María Pilar', 'Felix', 'Evangelina', 'Vilma', 'Martirio', 'Lara', 'Adelaida', 'Nicanor', 'Francisco Jose', 'Adela', 'Samanta', 'Silvestre', 'América', 'Teodora', 'Ángela', 'Zacarías', 'Melisa', 'Feliciano', 'Camila', 'Venceslás', 'Julia', 'Liliana', 'Nereida', 'Onofre', 'Pío', 'Elpidio', 'Gonzalo', 'Ana Sofía', 'José María', 'Victorino', 'Fermín', 'Araceli', 'Abraham', 'Danilo', 'Estela', 'Lalo', 'Anabel', 'Vito', 'Eutimio', 'Leocadia', 'Aroa', 'Cebrián', 'Nacio', 'Carlos', 'Dulce', 'Alexandra', 'Marisela', 'Maristela', 'Jose Antonio', 'Luis Ángel', 'Benigna', 'Dani'])

In [35]:
data_insert_reservas = []

for _, row in data.iterrows():
    id_reserva = row["id_reserva"]
    fecha_reserva = row["fecha_reserva"]
    inicio_estancia = row["inicio_estancia"]
    final_estancia = row["final_estancia"]
    precio_noche = row["precio_noche"]
    id_cliente = dictio_clientes.get(row["nombre"])
    id_hotel = dictio_hoteles.get(row["nombre_hotel"])

    data_insert_reservas.append((id_reserva, fecha_reserva, inicio_estancia, final_estancia, precio_noche, id_cliente, id_hotel))

In [36]:
data_insert_reservas

[('40c4cb55-d1f5-407b-832f-4756b8ff77b4',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '13141',
  '1'),
 ('f2ce8df5-7844-43e1-8c0f-97ce7a208f21',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  275.2259210526316,
  '14814',
  '2'),
 ('57d4515a-447d-4067-afcb-9bdcf4e4e915',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '13479',
  '3'),
 ('ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  280.1512428298279,
  '14680',
  '4'),
 ('99c3dc4f-663c-45f7-849a-ac9313f3746a',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '12680',
  '5'),
 ('a5da0906-0fe5-4c30-b193-863df67a7b84',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  282.4921499013806,
  '13534',
  '6'),
 ('3eca014e-f122-41d7-9dd3-b984b9153d57',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '14144',
  '7'),
 ('8a68fb77-8798-4902-a92d-642ea5e47083',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  271.7063529411765,
  '14608',
  '8'),
 ('5e3de36b-3d2f-4cef-98d3-df826c56a4b1',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '14123',
  '9'),
 ('2a39eb83-b3aa-4df0-93b3-1fdc0b0a9609',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '13797',
  '10'),
 ('96a3727c-99fb-4ae0-a6c3-886504499ec2',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.2415151515151,
  '10663',
  '11'),
 ('18fa5887-c155-4064-ba8d-3b2948dd348b',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14765',
  '3'),
 ('9880f3ea-a29d-4acd-9fe1-96df1ffa46bd',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.9356074766355,
  '14313',
  '12'),
 ('22a3608a-1de2-40c7-8e2a-d22daf77390f',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '14672',
  '5'),
 ('68b36da9-eeaa-4c31-91a8-d34fcc3956c8',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14605',
  '13'),
 ('b92dbe7c-4660-4e4c-9224-47cae0152bf9',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.2415151515151,
  '14238',
  '11'),
 ('9b16fc42-a7c6-4db9-98c7-30dbf2bb72b3',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  267.93135869565214,
  '14442',
  '14'),
 ('65fcc15f-f4c6-492a-b191-f180ae314bea',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '14241',
  '1'),
 ('8a5b02f8-caa9-4917-a50d-a122c74a5c6d',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.2852741020794,
  '13027',
  '15'),
 ('24f9a853-2cef-4fb7-8182-d4f347c772d7',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  280.1512428298279,
  '14520',
  '4'),
 ('345b493b-5fcb-476c-940b-cce20444d64e',
  Timestamp('2025-02-05 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  271.7063529411765,
  '13479',
  '8'),
 ('e9fc009e-6bbd-49a9-aaa1-499fbe5b7036',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '14336',
  '1'),
 ('91569bdd-8430-4537-8245-6ca66e5c95ed',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  280.1512428298279,
  '14842',
  '4'),
 ('2713abaf-e02b-4e4b-9897-a6b9cd4862b5',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  277.31882352941176,
  '13537',
  '16'),
 ('56aa252f-8c76-4712-a8d8-cfa844b5711a',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '14770',
  '17'),
 ('67cc0893-51de-461e-bdf3-72beb87d4672',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '13760',
  '13'),
 ('728efa5a-8a5a-4e53-8b2b-349c4fcab5d9',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.9356074766355,
  '14303',
  '12'),
 ('f4b3e94a-2476-4923-953d-1f76ad90b520',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  284.2829629629629,
  '14202',
  '18'),
 ('166f113f-64cf-408d-b1c3-30ef155f8049',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  284.2829629629629,
  '14024',
  '18'),
 ('b4ec52c7-ac8d-4c68-93f2-56f80786978c',
  Timestamp('2025-02-05 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '14502',
  '9'),
 ('bec6c4c5-e6bf-4115-98d2-9c2f1161b77d',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '14653',
  '5'),
 ('aca3e915-cf8f-4ee5-b921-f23f909f602b',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '14293',
  '10'),
 ('47f91472-4a34-4e03-9cd2-64bbf695dcdd',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  282.4921499013806,
  '14837',
  '6'),
 ('4d0ca33e-6881-4eaa-8c32-caf6273e468b',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '13933',
  '9'),
 ('f6149a73-99ec-46f9-ad92-c4174a564beb',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.2415151515151,
  '14504',
  '11'),
 ('25efcc1f-d69a-422f-a887-3341d57c6f09',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '13644',
  '5'),
 ('5e53a3e0-ed87-48e8-9742-891fe94d1025',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14020',
  '3'),
 ('32aa8648-0f85-4405-86bd-ffe32c5bc3eb',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  277.31882352941176,
  '14335',
  '16'),
 ('b8fc310e-88a1-41eb-abf1-f772cf208fda',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.9356074766355,
  '11535',
  '12'),
 ('9202057b-976a-4e12-980e-d45cac1a2906',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14880',
  '3'),
 ('2af9827a-93df-4f5e-ac7d-bdda0c84ed31',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '13529',
  '9'),
 ('a099af97-fd17-4374-86fe-9aae15f39bff',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '14723',
  '9'),
 ('73b6396e-25dc-4516-9a8a-047fbdf14eb3',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  284.4021186440678,
  '14667',
  '19'),
 ('7d8a031b-affa-4506-8a21-36e2e298da06',
  Timestamp('2025-02-05 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  271.7063529411765,
  '13640',
  '8'),
 ('4670b887-09ee-433b-afa1-556cbb1e930a',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '13868',
  '10'),
 ('444992a6-ce95-43c1-bf32-b9ce3d754672',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14660',
  '13'),
 ('55d863f5-efd2-47ee-b047-b786c056ccef',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '13479',
  '7'),
 ('458f6999-9db0-4430-88ad-b5d91cfd6ff4',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  280.1512428298279,
  '14083',
  '4'),
 ('9631e12c-9835-45fe-a21a-6271086c3452',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '14576',
  '10'),
 ('ebd89c70-66d4-41d1-b218-dc9113ce6ce6',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '14286',
  '17'),
 ('83b7096f-825e-4937-b0e2-4ec0391bc473',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14173',
  '3'),
 ('fc781901-7248-4af2-a828-9940d73e7cd9',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14581',
  '3'),
 ('dcffa24b-86dc-4814-9b26-e1264d8c3f03',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '13795',
  '17'),
 ('16995b12-8790-4bb4-9e39-ad5eccbeb90d',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '13009',
  '17'),
 ('1947713f-2d04-4f87-979d-47b803207fee',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '14231',
  '7'),
 ('2e03c019-93d2-42ff-a9a4-9351952b3244',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  264.96716504854373,
  '11584',
  '9'),
 ('1706822e-7d2e-4287-a953-1f039ae68551',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '14647',
  '17'),
 ('692a26ac-4f64-4e7d-aeb9-3c0ab9225d8d',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14636',
  '13'),
 ('509d1ab0-6acc-4c42-b352-4d8e86dfa96d',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  275.2259210526316,
  '13682',
  '2'),
 ('02fd1dcf-b5ef-4efc-9e02-0f7ba1d641b6',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  280.1512428298279,
  '14895',
  '4'),
 ('ca9bfa6c-1449-4239-9595-779c090af54b',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '14261',
  '7'),
 ('5a5dd3f5-d360-4242-a827-2729e9d0fd61',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14774',
  '13'),
 ('b7055550-984b-48e4-83f6-637b7f4dd78c',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  271.7063529411765,
  '14902',
  '8'),
 ('013e4092-d233-4c2f-a772-9e66270e30a4',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  282.4921499013806,
  '14385',
  '6'),
 ('286afb47-7932-4250-987a-688b472b5344',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.2415151515151,
  '13804',
  '11'),
 ('d76d1cf2-0f78-4463-8fa8-51fe47c6c5ab',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '14464',
  '7'),
 ('6de8b910-ab44-4a14-8369-f2723da145ed',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  267.93135869565214,
  '8982',
  '14'),
 ('f302dfc4-bdf4-40f0-b08c-6821d3044e5f',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.2852741020794,
  '13968',
  '15'),
 ('6741430e-762d-4548-9616-fc40362e0447',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '13061',
  '1'),
 ('dd64cf88-9b1f-42ec-9340-39806f5bd744',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '14290',
  '10'),
 ('d7978bb9-da0f-468c-977f-2062c1262a8c',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14363',
  '3'),
 ('49788f88-6522-4400-96c5-12757260aaeb',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '14440',
  '1'),
 ('2cb6159f-ce6f-4c76-ad5c-fb471135b3b5',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '12059',
  '1'),
 ('24bce2d2-a496-4d15-aa24-8796f173f0c7',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14778',
  '13'),
 ('fe3a68d9-f2ea-4af4-9512-5d890ed26aa2',
  Timestamp('2025-02-01 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14522',
  '3'),
 ('05d40d78-a173-4044-9c72-ae9c2d8548d6',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.7331755424063,
  '14191',
  '10'),
 ('1696721f-a366-492c-8e7e-ce2bbd11e0b2',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '13915',
  '7'),
 ('a5ad5040-06cf-47ca-9960-553a91600ce7',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '10392',
  '1'),
 ('241e331b-007f-48d2-a184-7164c13d1cda',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.4023353293413,
  '14760',
  '7'),
 ('3fad3c2e-e8aa-437b-8c61-53c7e4b912b1',
  Timestamp('2025-02-11 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '14872',
  '5'),
 ('6a8b8b3d-bbde-4cb9-b9d4-68029065564c',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '14488',
  '17'),
 ('9a69e4c1-f738-47a9-8d37-98c04675c506',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  284.2829629629629,
  '13460',
  '18'),
 ('2c74f8b9-05a8-4d01-95f7-63ce3ed5671f',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  282.4921499013806,
  '14744',
  '6'),
 ('77204866-fdb5-45b7-94db-51140a40b06e',
  Timestamp('2025-02-10 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14448',
  '3'),
 ('5e9e808f-a53e-4255-9fc3-a4564be2063d',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  277.31882352941176,
  '14843',
  '16'),
 ('84902ee1-c371-4fb4-ad4e-bc8d6de33f45',
  Timestamp('2025-02-05 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.2852741020794,
  '14891',
  '15'),
 ('904651ef-0e30-4880-ad20-6bb392a80aaa',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '13701',
  '5'),
 ('92cdbb3d-7db3-4c60-b520-52107dc3cf18',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '13701',
  '3'),
 ('1f822ddd-d04f-4cd4-8ac1-8c6c06583102',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  279.802141453831,
  '14671',
  '17'),
 ('ce727457-b05d-4d48-b5e5-002a1a7274a8',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  272.2415151515151,
  '14401',
  '11'),
 ('be8685ea-5cc1-4983-bfe8-ccdf5170642e',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  275.2259210526316,
  '13863',
  '2'),
 ('1fd11394-7e1e-482b-8c16-8cb598f41e16',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.2852741020794,
  '14012',
  '15'),
 ('7078d68a-f0a9-4e31-bde8-25b5247a1f38',
  Timestamp('2025-02-05 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.9356074766355,
  '14707',
  '12'),
 ('a0d92562-1485-4306-9dfb-a0078b2d0563',
  Timestamp('2025-02-03 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14206',
  '3'),
 ('ce0aa969-ffa5-4e65-8eee-fcdeef2505f4',
  Timestamp('2025-02-09 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  267.93135869565214,
  '14142',
  '14'),
 ('790cd2e1-ce99-4131-9c7d-73f3534dea93',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  271.7063529411765,
  '14588',
  '8'),
 ('18eff31c-cd63-4c05-a3f1-a0b05998018e',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  276.61238095238093,
  '13926',
  '1'),
 ('edfdc0ed-e580-4373-9317-f56cd55f8ef9',
  Timestamp('2025-02-04 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  273.7629755178908,
  '14140',
  '13'),
 ('99d760d9-b9a0-4c9d-9e6d-d706238a743a',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  269.99844357976656,
  '14709',
  '3'),
 ('737db8d2-ef89-4a22-850f-5140b2cc1e9b',
  Timestamp('2025-02-07 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  278.2439960629921,
  '14040',
  '5'),
 ('eeea3e90-5d2e-4388-a71c-23f539a47218',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  267.93135869565214,
  '14481',
  '14'),
 ('49f515de-4edd-4cbd-909a-7c4f53d16da6',
  Timestamp('2025-02-08 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  282.4921499013806,
  '14552',
  '6'),
 ('3cc3f204-5347-4617-869f-cd1983b30c65',
  Timestamp('2025-02-02 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  275.2259210526316,
  '14369',
  '2'),
 ('71d78fbd-4cbe-466f-b928-908ea21d416c',
  Timestamp('2025-02-12 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),
  267.93135869565214,
  '13220',
  '14'),
 ('5fe3f4a7-18e8-4fbd-b6c8-d6f0299f5af1',
  Timestamp('2025-02-06 00:00:00'),
  Timestamp('2025-03-01 00:00:00'),
  Timestamp('2025-03-02 00:00:00'),

In [28]:
conn.rollback()

In [37]:
# Creamos la query de inserción de los datos de ciudad
insert_query_reservas = """ 
                        INSERT INTO reservas (id_reserva, fecha_reserva, inicio_estancia, final_estancia, precio_noche, id_cliente, id_hotel)
                        VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

In [38]:
# Ejecutamos la query y le indicamos los valores 
cur.executemany(insert_query_reservas, data_insert_reservas)
conn.commit()

In [39]:
# vamos a comprobar que se ha creado correctamente
query_clientes = """
    SELECT * 
    FROM reservas; 
"""
cur.execute(query_clientes)
cur.fetchmany(3)

[('40c4cb55-d1f5-407b-832f-4756b8ff77b4',
  datetime.date(2025, 2, 9),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  276.61238095238093,
  '13141',
  '1'),
 ('f2ce8df5-7844-43e1-8c0f-97ce7a208f21',
  datetime.date(2025, 2, 8),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  275.2259210526316,
  '14814',
  '2'),
 ('57d4515a-447d-4067-afcb-9bdcf4e4e915',
  datetime.date(2025, 2, 2),
  datetime.date(2025, 3, 1),
  datetime.date(2025, 3, 2),
  269.99844357976656,
  '13479',
  '3')]

## Cierre de la conexión

In [32]:
# una vez hemos terminado de trabajar es necesario cerrar la conexión y el cursor.
cur.close()
conn.close()